* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: tgn-soft-round-con, sans-serif;
  background-color: #fff;
  color: #000;
  display: grid;
  place-items: center;
}
.container {
  display: grid;
  align-items: center;
  grid-template-rows: 650px auto;
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

  @media (max-width: 768px) {
    .container {
      grid-template-rows: auto auto;
    }
  }
  @media (max-height: 481px) {
    .container {
      grid-template-rows: auto auto;
    }
  }

.album-section {
  display: grid;
  place-items: center;
}

.album-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 600px auto;
  gap: 5px 15px;
  grid-template-rows: repeat(2, auto);
  place-items: end center;
}

  @media (max-width: 768px) {
    .album-wrapper {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
    }
  }

  @media (max-height: 481px) {
    .album-wrapper {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
    }
  }

.album-cover {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
}

.album-cover-wrap {
  position: relative;
  grid-column: 1;
  grid-row: 1 / span 2;
  width: 100%;
  max-width: 600px;
}
 
  @media (max-width: 768px) {
    .album-cover-wrap {
      grid-column: 1;
      grid-row: 1;
    }
  }

  @media (max-height: 481px) {
    .album-cover-wrap {
      grid-column: 1;
      grid-row: 1;
    }
  }

.album-cover-wrap::before {
  content: '';
  position: absolute;
  top: 45%;
  right: 4%;
  width: 70%;
  height: 50%;
  background: #000;
  transform-origin: left;
  transform: skewY(7.5deg);
  filter: blur(15px);
  opacity: 0.2;
}

  @media (max-width: 768px) {
    .album-cover-wrap::before {
      bottom: unset;
      top: 45%;
      right: 4%;
    }
  }

  @media (max-height: 481px) {
    .album-cover-wrap::before {
      bottom: unset;
      top: 45%;
      right: 4%;
    }
  }

.album-cover-wrap::after {
  content: '';
  position: absolute;
  top: 45%;
  left: 4%;
  width: 70%;
  height: 50%;
  background: #000;
  transform-origin: right;
  transform: skewY(-7.5deg);
  filter: blur(15px);
  opacity: 0.2;
}

.vertical-text {
  grid-column: 2;
  grid-row: 1;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  margin-right: auto;
  height: 100%;
  display: grid;
  place-items: center start;
  font-family: tgn-soft-round, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  opacity: 1;
  color: #000;
  background: linear-gradient(
    282deg,
    #c9c9c9,
    #e9e9e9,
    #c9c9c9,
    #e9e9e9,
    #c9c9c9,
    #e9e9e9,
    #c9c9c9,
    #e9e9e9,
    #c9c9c9
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animate 8s ease-in-out infinite;
}

@media (max-width: 768px) {
  .vertical-text {
    margin-top: 30px;
    grid-column: 1;
    grid-row: 2;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    font-size: 1.5rem;
    letter-spacing: 5px;        
    width: 100%;
    text-align: center;
    place-items: center;
  }
}

@media (max-height: 481px) {
  .vertical-text {
    margin-top: 30px;
    grid-column: 1;
    grid-row: 2;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    font-size: 1.5rem;
    letter-spacing: 5px;        
    width: 100%;
    text-align: center;
    place-items: center;
  }
}

@keyframes gradient-animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.social-links {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  gap: 15px;
  margin-bottom: 30px;
  position: relative;
  left: 4px;
}

  @media (max-width: 768px) {
    .social-links {
      grid-column: 1;
      grid-row: 3;
      justify-content: center;
      grid-template-columns: auto auto;
    }
  }

  @media (max-height: 481px) {
    .social-links {
      grid-column: 1;
      grid-row: 3;
      justify-content: center;
      grid-template-columns: auto auto;
    }
  }

.social-link-fill {
  fill: #e9e9e9;
  transition: 0.3s fill ease-in;
}

.social-link.instagram:hover .social-link-fill {
  fill: #FF0069;
  transition: 0.3s fill ease-out;
}

.social-link.youtube:hover .social-link-fill {
  fill: #FF0000;
  transition: 0.3s fill ease-out;
}

.logo-section {
  grid-row: 2;
  display: grid;
  place-items: center;
}

.fg-logo {
  width: 150px;
  margin-bottom: 10px;
}

.fg-logo #Ghost {
  animation: ghost-bob 4s ease-in-out infinite;
}

@keyframes ghost-bob {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.site-nav {
  display: grid;
  place-items: center;
  gap: 0;
  grid-template-columns: repeat(2, auto);
}

.site-nav a {
  text-decoration: none;
  font-weight: 500;
  color: #000;
  font-size: 1.2rem;
  transition: 0.1s border ease-in;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
  text-transform: uppercase;
}

.site-nav a:hover {
  border-bottom: 3px solid #e9e9e9;
  transition: 0.1s border ease-out;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

#captcha-form {
  display: none;
}

.grecaptcha-badge { visibility: hidden; }

.disclaimer-text {
  margin-top: 120px;
  text-align: center;
  color: #f9f9f9;
}

  .disclaimer-text .copyright {
    color: #c9c9c9;
  }

  .disclaimer-text a {
    color: #f9f9f9;
    text-decoration: none;
  }